@charset "UTF-8";

/*
    em HTML é id = em CSS é # (ID)
    em HTML é class = em CSS é . (CLASS)
    Priorizar o CLASS!
*/
body {
    background-color: rgb(187, 245, 185);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 109, 0);
}

#principal {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: green;
    color: white
}

.basico { 
    color: green;
    font-weight: bold;
}

.intermediario {
    color: rgb(76, 0, 255);
    font-weight: bold;
}

.avancado {
    color: red;
    font-weight: bold;
}

.destaque {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: green;
    color: white
}

h2 {
    color: rgb(73, 109, 71);
}