@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints
-----------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
TV: acima de 1200px

*/

@media print { /*iMPRESSORA*/

    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url('../assets/imagens/back-print.jpg'); /* Desnecessario */
    }

    main {
        border: 2px solid black;
        width: 90vw;
    }

    main::after {
        content: 'Essa impressão foi feita através do site www.cursoemvideo.com';
        text-decoration: overline;
        
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: block; }
    img#pc { display: none; }
    img#tv { display: none; }


}

@media screen and (min-width: 768px) and (max-width: 992px) { /*TABLET*/

    body {
        background-image: url('../assets/imagens/back-tablet.jpg');
    }

    img#phone { display: none; }
    img#tablet { display: block; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: none; }

}

@media screen and (min-width:  992px) and (max-width: 1200px) { /*DESKTOP*/

    body {
        background-image: url('../assets/imagens/back-pc.jpg');
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: block; }
    img#tv { display: none; }

}

@media screen and (min-width: 1200px) { /*TELAS GRANDES*/
    body {
        background-image: url('../assets/imagens/back-tv.jpg');
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: block; }

}