@charset "UTF-8";

/* 
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

:root {
    --cor-verde: #49a09d;
    --cor-lilas: #5f2c82;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background-color: var(--cor-lilas);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: #ffffff;
    width: 300px;
    height: 550px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transition: width .1s, height .1s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: url('../patternbuilding.jpg') no-repeat;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.campo {
    display: flex;
    background-color: var(--cor-lilas);
    padding: 2px;

    border-radius: 5px;
    margin: 5px;
    width: 290px;
}

input {
    margin: auto;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 100%;
    padding: 5px;
}

.material-symbols-outlined {
    color: white;
    margin-left: 10px;

    position: relative;
    right: 5px;
    top: 2px;

    width: 50px;
    
    font-size: 24px;

}

.btn {
    display: flex;
    flex-flow: column wrap; 
    margin: 5px;

        #btn-enter {
            color: white;
            background-color: #63cbc8;
            width: 290px;
            height: 30px;

            text-align: center;
}

        a {
            text-decoration: none;  
            margin: 3px;
            color: #489390;
            font-weight: 350;
            cursor: pointer;
}

        .btn-b, .btn-c {
            margin: 6px;
        }

        .btn-b {
            display: flex;
            text-align: center;
            border: 2px solid #63cbc8;
            border-radius: 5px;
            font-size: 0.9em;
            justify-content: center;
            width: 290px;
            height: 30px;

                &:hover {
                    background-color: #53adaa;
                    border: 2px solid #418784;
                }

                &:hover a {
                    color: white;
                }


    }
}
