    @charset "UTF-8";
    
    body {
        background-color: #F5D1CE;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    h1 {
        color: #8F4842;
        text-align: center;
    }

    h2 {
        color: #471915;
    }

    p {
        color: white;
        text-align: justify;
    }