@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredericka+the+Great&family=Kaushan+Script&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

/* Variáveis */
:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --cor6: #000000c9;
    --cor7: #ffffff;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-android: 'Android', sans-serif;
}



/* Configuração Obrigatória */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--fonte-padrao);
    background-color: var(--cor1);
}



/* Cabeçalho */ 
header {
    background: linear-gradient(to top, var(--cor5), var(--cor3));
    color: var(--cor7);
}

header h1 {
    padding-top: 35px;
    margin-bottom: 20px;
    font-size: 3em;
    font-family: var(--fonte-destaque);
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.226);
}

header p {
    font-family: var(--fonte-padrao);
    font-weight: normal;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 35px;
    font-size: 1.3em;
}



/* Menu */
nav {
    padding: 10px;
    box-shadow: 0px 7px 7px rgb(0, 0, 0, 0.192);
    text-decoration: none;
}

nav a {
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    outline: transparent;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 1s;
}

nav a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;

}



/* Detalhe .txt */
main {
    background-color: var(--cor7);
    min-width: 320px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.684);
    border-radius: 0px 0px 10px 10px;
}

article a {
    text-decoration: none;
}



/* Detalhes borrão links */
#borrao {
    background: linear-gradient(to right, var(--cor0), transparent);
    padding-left: 10px;
}

#borraotwo {
    background-color: var(--cor2);
    padding-left: 10px;
}


/* Configuração Artigos CSS */
article  h1 {
    font-family: var(--fonte-android);
    color: var(--cor4);
}

article  h2 {
    font-family: var(--fonte-android);
    color: var(--cor3);
    
}

article p {
    margin: 15px 0px;
    text-align: justify;
    line-height: 1.5em;
    font-size: 1em;
    text-indent: 30px;
}

article img {
    width: 100%;
}

article img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

/* Configuração Vídeos */

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.6%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}


/* Conteúdo Complementar */
aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
}

aside p {
    margin: 10px;
}

aside h3 {
    background-color: var(--cor3);
    color: var(--cor7);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.226);
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    margin-left: 20px;
}

aside > li {
    margin-left: 22px;
    font-size: 1em;
}



/* Configuração Rodapé */
footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    margin-top: -8px;
    border-radius: 0px 0px 5px 5px;
}

/* Outros */
.externo:active {
    text-decoration: none;
    color: lightgreen;
}

.externo {
    color: var(--cor5);
    padding-left: 5px;
    font-weight: bolder;
}

.externo::after {
    content: '\00A0\1F517';
}