@charset "UTF-8";

    :root {
        --cor1: #f8f9fa;
        --cor2: #e9ecef;
        --cor3: #dee2e6;
        --cor4: #495057;
        --cor5: #343a40;
        --cor6: #212529;
    }



.box-geral {
            display: inline-block;


        }
        .boxtop {
            display: flex;
            padding: 10px;

        }

        .boxdown {
            display: flex;
            padding: 10px;
        }

        #box1 {
            padding: 10px;
        }

        #box2 {
            padding: 10px;
        }

        #box3 {
            padding: 10px;
        }

        #box4 {
            padding: 10px;
        }
        