@charset "UTF-8";

body {
    margin: 0;
    background: black;
    overflow: hidden;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#counter {
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 8px rgba (0, 0, 0, 0.9);
}

/* Controles de Teste */
#controls {
    margin-top: 10px;
    display: none;
}