@charset "UTF-8";

    :root {
        --cor1: #f8f9fa;
        --cor2: #e9ecef;
        --cor3: #dee2e6;
        --cor4: #495057;
        --cor5: #343a40;
        --cor6: #212529;
        --cor7: #ffffff9a;
    }

    * {
        margin: 0;
        padding: 0;
    }

    body {   
        overflow-x: hidden;
    }

    a {
        color: gray;
        text-decoration: none;
        font-weight: normal;
        transition: 0.3s;
    }

    a:hover {
        opacity: 0.7;
    }

    .logo {
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #343a40;
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif, Arial, sans-serif;
        background: var(--cor7);
        height: 8vh;
        
    }

    .nav-list {
        display: flex;
        list-style: none;
    }

    .nav-list li {
        margin-left: 32px;
    }

    .btn-comecar {
        background-color: #155DFC;
        padding: 10px 25px;
        border-radius: 8px;
        list-style: none;
    }

    .btn-comecar a {
        color: rgb(255, 255, 255);
    }

    main {
        background-image: url(fundo.png);
        background-position: center center;
        background-size: cover;
        height: 92vh;
    }

    div.principal {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        color: white;

    }

    .principal h1 {
        font-size: 10vh;
        text-shadow: 1px 1px 2px black;
    }

    .principal p {
        font-size: 25px;
        margin-top: 20px;
        text-shadow: 1px 1px 2px black;
    }

    .principal a {
        padding: 10px 25px;
        border-radius: 8px;
        list-style: none;
    }

    .links {
        margin-top: 100px;
    }

    .links > a {
        margin-right: 25px;
        padding: 20px 35px;
        font-size: 20px;

        color: white;
    }

    .comecar {
    background-color: #155DFC;
    }

    .saiba {
        background-color: rgba(0, 0, 0, 0.623);
        border: 3px solid rgba(128, 128, 128, 0.562);
    }



    
    