@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

    :root {
        --cor1: #f8f9fa;
        --cor2: #e9ecef;
        --cor3: #dee2e6;
        --cor4: #495057;
        --cor5: #343a40;
        --cor6: #27292bd5;
        --cor7: #ffffff9a;
    }

    * {
        margin: 0;
        padding: 0;
        font-family: "Inter", sans-serif;
    }

    /* Cabeçalho */
    body {   
        overflow-x: hidden;
    }

    header {
        position: sticky;
        top: 0;
        z-index: 99;
    }

    a {
        color: #ffffff;
        text-decoration: none;
        font-weight: bolder;
        transition: 0.3s;
    }

    a:hover {
        opacity: 0.7;
    }

    .logo {
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #ffffff;
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #000000ec;
        height: 8vh;
        
    }

    .nav-list {
        display: flex;
        list-style: none;
        font-size: 1em;
    }

    .nav-list li {
        margin-left: 15px;
    }

    .btn-comecar {
        background-color: #155DFC;
        padding: 8px 22px;
        border-radius: 8px;
        list-style: none;
    }

    .btn-comecar a {
        color: rgb(255, 255, 255);
        font-size: 1em;
    }

    /* Conteúdo Principal */
    main {
        background-image: url("imagens/fundo.png");
        background-position: center center;
        background-size: cover;
        height: 98vh;
    }

    div.principal {
        position: absolute;

        left: 50%;
        top: 50%;

        transform: translate(-50%, -50%);
        color: white;

    }

    .principal h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 5em;
        text-shadow: 1px 1px 2px black;
    }

    .principal p {
        text-align: center;
        font-size: 1.5em;
        margin-top: 20px;
        text-shadow: 1px 1px 2px black;
    }

    .principal a {
        padding: 15px 35px;
        border-radius: 8px;
        list-style: none;
    }

    .links {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }

    .comecar {
        background-color: #155DFC;
        margin: 15px;;
    
    }

    .saiba {
        background-color: rgba(0, 0, 0, 0.623);
        border: 3px solid rgba(128, 128, 128, 
        0.562);
        margin: 15px;

    }
    /* Nossos Recursos */
    aside {

    }

    .recursos {
        display: block;
        justify-items: center;
        margin-top: 50px;
    }

    .recursos h2 {
        font-size: 4em;
        text-align: center;
    }

    .recursos p {
        font-size: 1em;
    }

    .container-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .container-block img {
        height: 40px;
        width: 40px;
        background-color: #155DFC;
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .energia {
        flex-grow: 1;
        flex-basis: 200;
        background-color: rgb(248, 248, 248);
        padding: 27px 30px;
        border-radius: 10px;
        text-align: left;
        max-width: 300px;
        margin: 40px;
        box-shadow: 1px 1px 10px #0000004f;
    }

    .energia:hover {
        padding: 30px 35px;
        transition: 0.2s linear;
    }

    .energia h4 {
        margin-bottom: 10px;
        font-size: 1.5em;
        font-weight: normal;
    }

    .energia p {
        color: var(--cor6);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1em;
    }

    .energia h4, p {
        line-height: 1.2;
        text-align: left;
    }

    .seguro {
        flex-grow: 1;
        flex-basis: 200;
        background-color: rgb(248, 248, 248);
        padding: 27px 30px;
        border-radius: 10px;
        text-align: left;
        max-width: 300px;
        margin: 40px;
        box-shadow: 1px 1px 10px #0000004f;
    }

    .seguro:hover {
        padding: 30px 35px;
        transition: 0.2s linear;
    }

    .seguro h4 {
        margin-bottom: 10px;
        font-size: 1.5em;
        font-weight: normal;
    }

    .seguro p {
        color: var(--cor6);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1em;
    }

    .seguro h4, p {
        line-height: 1.2;
        text-align: left;
    }

    .flex {
        flex-grow: 1;
        flex-basis: 200;
        background-color: rgb(248, 248, 248);
        padding: 27px 30px;
        border-radius: 10px;
        text-align: left;
        margin: 40px;
        max-width: 300px;
        box-shadow: 1px 1px 10px #0000004f;
    }

    .flex:hover {
        padding: 30px 35px;
        transition: 0.2s linear;
    }

    .flex h4 {
        margin-bottom: 10px;
        font-size: 1.5em;
        font-weight: normal;
    }

    .flex p {
        color: var(--cor6);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1em;
    }

    .flex h4, p {
        line-height: 1.2;
        text-align: left;
    }

    .icon {
        background-color: #155DFC;
    }

    /* Sobre Nós */

    div.backgroud-sobre {
        background-color: #f1f1f1a9;
    }

    .sobre {
        display: block;
    }

    .sobre > h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4em;
        padding-top: 50px;
    }
    
    .sobre > p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
    
    }

    .lateral {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 30px;

    }

    .text-lateral {
        width: 800px;
        font-size: 1.5em;
    }

    .text-lateral p {
        padding-bottom: 2em;
    }

    .btn-historia {
        color: white;
        background-color: #155DFC;
        padding: 15px 25px;
        border-radius: 15px;
        font-size: 0.7em;
    }

    /* BOX's */

    .container-box {
    }

    .boxtop {
        display: flex;
    }

    #box1 {
        background-color: #fcfbfb;
        box-shadow: 1px 1px 10px #00000073;
        padding: 40px 70px;
        border-radius: 10px;
        text-align: center;
        margin: 15px;
    }

    #box1 p {
        text-align: center;
    }

    #anos {
        font-size: 3em;
        padding-bottom: 10px;
        color: #155DFC;
    }

    #box2 {
        background-color: #fcfbfb;
        box-shadow: 1px 1px 10px #00000073;
        padding: 40px 70px;
        border-radius: 10px;
        text-align: center;
        margin: 15px;
    }

    #box2 p {
        text-align: center;
    }

    #satisfeito {
        font-size: 3em;
        padding-bottom: 10px;
        color: #155DFC;
    }

    .boxdown {
        display: grid;
    }

    #box3 {
        background-color: #fcfbfb;
        box-shadow: 1px 1px 10px #00000073;
        padding: 40px 70px;
        border-radius: 10px;
        text-align: center;
        margin: 15px;
    }

    #box3 p {
        text-align: center;
    }

    #projetos {
        font-size: 3em;
        padding-bottom: 10px;
        color: #155DFC;
    }

    #box4 {
        background-color: #fcfbfb;
        box-shadow: 1px 1px 10px #00000073;
        padding: 40px 70px;
        border-radius: 10px;
        text-align: center;
        margin: 15px;
    }

    #box4 p {
        text-align: center;
    }

    #suporte {
        font-size: 3em;
        padding-bottom: 10px;
        color: #155DFC;
    }

    footer {
        display: block;
        text-align: center;
    }
    
    footer p {
        text-align: center;
    }


    /* RESPONSIVO */
    @media (max-width: 768px){


        .principal h1 {
            font-size: 4em;
            padding-top: 50px;
        }

        .principal {
            font-size: 1em;
        }


        .nav-list {
            font-size: 0.8em
        }

        .nav-list a {
            display: none;
            font-size: 0.8em;
        }

        .container-block {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }

        .energia {
            margin: 15px;
        }

        .seguro {
            margin: 15px;
        }

        .flex {
            margin: 15px;
        }

        .lateral {
            flex-direction: column;
        }

        .text-lateral {
            width: 80%;
        }

        .text-lateral p {
            text-align: justify;
        }

        .btn-historia {
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
        }

        .recursos h2 {
            font-size: 3.8em;
        }

        .recursos p {
            padding-bottom: 30px;
            font-size: 0.9em;
        }

        .links {
            flex-direction: column;
            margin: 0px;
            
        }

    }

    @media (max-width: 1500px){

        .boxtop {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        .boxtop div {
            width: 50%;
        }

        .boxdown {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        .boxdown div {
            width: 50%;
        }

        .container-box {
            width: 100%;
        }

        .text-lateral {
            padding: 50px;
        }
    }