@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

    :root {
        --cor1: #f8f9fa;
        --cor2: #e9ecef;
        --cor3: #dee2e6;
        --cor4: #495057;
        --cor5: #343a40;
        --cor6: #27292bd5;
        --cor7: #ffffff9a;
    }

    * {
        margin: 0;
        padding: 0;
        font-family: "Inter", sans-serif;
    }

    /* Cabeçalho */
    body {   
        overflow-x: hidden;
    }

    header {
        position: sticky;
        top: 0;
        z-index: 99;
    }

    a {
        color: rgb(250, 250, 250);
        text-decoration: none;
        font-weight: bolder;
        transition: 0.3s;
    }

    a:hover {
        opacity: 0.7;
    }

    .logo {
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #ffffff;
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: rgb(0, 0, 0);
        height: 8vh;
        
    }

    .nav-list {
        display: flex;
        list-style: none;
    }

    .nav-list li {
        margin-left: 32px;
    }

    .btn-comecar {
        background-color: #155DFC;
        padding: 10px 20px;
        border-radius: 8px;
        list-style: none;
    }

    .btn-comecar a {
        color: rgb(255, 255, 255);
    }

    /* Conteúdo Principal */
    main {
        background-image: url(fundo.png);
        background-position: center center;
        background-size: cover;
        height: 92vh;
    }

    div.principal {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        color: white;

    }

    .principal h1 {
        font-size: 5em;
        text-shadow: 1px 1px 2px black;
    }

    .principal p {
        text-align: center;
        font-size: 1.5em;
        margin-top: 20px;
        text-shadow: 1px 1px 2px black;
    }

    .principal a {
        padding: 10px 25px;
        border-radius: 8px;
        list-style: none;
    }

    .links {
        margin-top: 100px;
    }

    .links > a {
        margin-right: 25px;
        padding: 20px 25px;
        font-size: 20px;

        color: white;
    }

    .comecar {
    background-color: #155DFC;
    }

    .saiba {
        background-color: rgba(0, 0, 0, 0.623);
        border: 3px solid rgba(128, 128, 128, 0.562);
    }
    /* Nossos Recursos */
    aside {
        height: 50vh;
    }

    .recursos {
        display: block;
        justify-items: center;
        margin-top: 50px;
    }

    .recursos h2 {
        font-size: 4em;
        text-align: center;
    }

    .recursos p {
        font-size: 1em;
    }

    .blocos {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .blocos img {
        height: 35px;
        width: 35px;
        background-color: #155DFC;
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .energia {
        background-color: rgb(248, 248, 248);
        padding: 27px 30px;
        border-radius: 10px;
        text-align: left;
        width: 300px;
        margin: 80px;
    }

    .energia h4 {
        margin-bottom: 10px;
        font-size: 1.5em;
        font-weight: normal;
    }

    .energia p {
        color: var(--cor6);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1em;
    }

    .energia h4, p {
        line-height: 1.2;
        text-align: left;
    }

    .seguro {
        background-color: rgb(248, 248, 248);
        padding: 27px 30px;
        border-radius: 10px;
        text-align: left;
        width: 300px;
    }

    .seguro h4 {
        margin-bottom: 10px;
        font-size: 1.5em;
        font-weight: normal;
    }

    .seguro p {
        color: var(--cor6);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1em;
    }

    .seguro h4, p {
        line-height: 1.2;
        text-align: left;
    }

    .flex {
        background-color: rgb(248, 248, 248);
        padding: 27px 30px;
        border-radius: 10px;
        text-align: left;
        margin: 80px;
    }

    .flex h4 {
        margin-bottom: 10px;
        font-size: 1.5em;
        font-weight: normal;
    }

    .flex p {
        color: var(--cor6);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1em;
    }

    .flex h4, p {
        line-height: 1.2;
        text-align: left;
    }

    .icon {
        background-color: #155DFC;
    }
    
    /**/
