@charset "UFT-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section#espaco {
    background-image: url('imagens/espaco.jpg');
    background-size: 100% 100%;
    background-size: cover;

    position: relative;
    height: 100vh;
}

div#astronauta {
    background-position: 100% 100%;

    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}