@charset "UFT-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("imagens/espaco.jpg");
    background-size: 100% 100%;

    position: relative;
    height: 100vh;

}

#astronauta {
    background-size: 100% 100%;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}
