@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to left, #F27D16, #c55f23);
}

main {
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px #745807; /* Lado \ Baixo \ Espalhamento \ Cor*/
}

h1 {
    color: #0D0000; /*Cor*/
    text-align: center; /*Alinhar texto*/
    text-shadow: 1px 1px 2px rgb(27, 27, 27); /* Lado \ Baixo \ Espalhamento \ Cor*/
}

h2 {
    color: #BF2604;
    text-align: center;
    
}

p {
    text-align: justify;
}